/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        memory = { 8.GB * task.attempt }  // Override default process_medium memory (36GB) to 8GB
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title ${params.multiqc_title}" : '' }
    }
    withName: 'SRA_FASTERQDUMP' {
        memory = { 8.GB * task.attempt }  // Override default process_medium memory (36GB) to 8GB
        // fasterq-dump extra arguments
        ext.args1 = { 
            def args_list = []
            args_list.add('--force')
            args_list.add('--include-technical')
            args_list.add(params.ngc_path ? "--ngc ${params.ngc_path}" : '')
            args_list.add("--disk-limit ${params.disk_limit ?: "${task.memory.toGiga()}G"}")
            return args_list.join(' ')
        }
        // pigz extra arguments
        ext.args2 = { 
            def args_list = []
            args_list.add('--force')
            args_list.add("-${params.pgzip_compress_level ?: '5'}")
            return args_list.join(' ')
        }
    }
    withName: 'SRA_PREFETCH' {
        memory = { 8.GB * task.attempt }  // Override default process_medium memory (36GB) to 8GB
        ext.args = { 
            def args_list = []
            /*
            Using --ngc with the NCBI prefetch command involves passing the path to your dbGaP 
            repository key (the .ngc file) to authenticate and download controlled-access data, 
            allowing you to get SRA/FASTQ files directly by specifying the accessions, often 
            used for non-cloud or local downloads after obtaining the key from dbGaP.
            */ 
            args_list.add(params.ngc_path ? "--ngc ${params.ngc_path}" : '')
            args_list.add("--max-size ${params.max_size ?: '20G'}")
            return args_list.join(' ')
        }
        // Don't publish SRA files - they are intermediate files deleted after conversion to FASTQ
        publishDir = [
            enabled: false
        ]
    }
}